<!doctype html>
<html>
<head>
	<title>github-writing</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="//opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css">
</head>
<body>
	<header>
		<div>
			<a href="" id="user" title="That's you!">username</a>
			<h1><a href="" title="Go home">Website</a></h1>
			<div id="userdropdown">
				<a href="" class="darktoggle">Dark mode <div></div></a>
				<a href="">Favorites</a>
				<a href="">My continuations</a>
				<a href="">Log out</a>
			</div>
		</div>
	</header>
	<form action="" id="search">
		<input type="text" placeholder="Search" />
	</form>
	<main>
		{{{body}}}
	</main>
	<footer>
		&copy; 2016 jaflo &ndash;
		All continuations belong to their respective owners.<br />
		<a href="">Terms of service</a>
	</footer>
	<div id="debug"></div>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="/script.js"></script>
</body>
</html>
