<div id="story">
	<div class="part">
		<div class="content">Some common starter.</div>
		<div class="info">
			by <a href="#">author</a>
		</div>
	</div>
</div>
<div id="spacer"></div>
<div id="navigation">
	<button class="jump" title="Jump to an alternate continuation">
		Jump
		<i class="fa fa-repeat" aria-hidden="true"></i>
	</button>
	<button class="continue" title="Show a continuation">
		Continue
		<i class="fa fa-angle-double-down" aria-hidden="true"></i>
	</button>
	<button class="write" title="Write a continuation">
		Write
		<i class="fa fa-pencil" aria-hidden="true"></i>
	</button>
</div>
<div id="actions">
	<button class="star" title="Mark this continuation as favorite">
		Star
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</button>
	<!--<button class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
<button class="flag"><i class="fa fa-flag-o" aria-hidden="true"></i></button>-->
	<button class="jump" title="Jump to an alternate continuation">
		Jump
		<i class="fa fa-repeat" aria-hidden="true"></i>
	</button>
	<button class="continue" title="Show a continuation">Continue</button>
</div>
<form action="" id="editor">
	<label for="" class="overlay">or write your own</label>
	<textarea name="" id="" cols="30" rows="10"></textarea>
	<div class="toolbar">
		<button class="bold" type="button" title="Bolden text">
			Bold
			<i class="fa fa-bold" aria-hidden="true"></i>
		</button>
		<button class="italic" type="button" title="Italicize text">
			Italic
			<i class="fa fa-italic" aria-hidden="true"></i>
		</button>
		<!--<button class="fullscreen" type="button">
			<i class="fa fa-arrows-alt" aria-label="Fullscreen"></i>
		</button>-->
		<button type="submit" class="publish" title="Submit this as continuation to the story">Publish</button>
	</div>
</form>
<div id="tester"></div>
