<form action="/login" method="post" id="signup" class="blocky">
	<h2>Log In</h2>
	<label for="username">Username</label>
	<input type="text" name="username" id="username" placeholder="iluvkittens" class="focus" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<button type="submit" class="primary">Log In</button>
</form>
