{{#if user}}
	<div id="username">
		<h1>{{username}}</h1>
		<form action="/user/username/preferences" method="post">
			New username:
			<br>
			<input type="text" name="username">
			<br>
			<input type="submit" value="Submit">
		</form>
	</div>
	<div id="email">
		<h2>Email: {{email}}</h1>
			<form action= "/user/username/preferences" method="post">
				New email:
				<br>
				<input type="text" name="email">
				<br>
				<input type="submit" value="Submit">
			</form>
	</div>
	<div id="password">
		<form action= "/user/username/preferences" method="post">
			New password:
			<br>
			<input type="password" name="password">
			<br>
			<input type="submit" value="Submit">
		</form>
	</div>
	<div id="timeCreated">
		<h2>Member since: {{timeCreated}}</h1>
	</div>
{{/if}}
