<form action="/signup" method="post" id="signup" class="blocky">
	<h2>Sign up</h2>
	<label for="username">Username</label>
	<input type="text" name="username" id="username" placeholder="iluvkittens">
	<label for="email">Email</label>
	<input type="text" name="email" id="email" placeholder="kittenlover23@example.com">
	<label for="password">Password</label>
	<input type="text" name="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
	<small>By signing up, you agree to our legal stuff.</small>
	<button type="submit" class="primary">Sign up</button>
</form>
