<form action="/signup" method="post">
	Username:<br />
	<input type="text" name="username"><br />
	Password:<br />
	<input type="text" name="password"><br />
	Email:<br />
	<input type="text" name="email">
	<button>Submit</button>
</form>
