@media only print {
	body {
		font-size: 12pt;
	}
	body,
	header,
	header a,
	html {
		background: white !important;
		color: black !important;
		border: 0;
		padding: 0;
	}
	footer,
	header > div,
	main {
		padding: 0;
		max-width: none !important;
	}
	header > div {
		-webkit-filter: none !important;
		filter: none !important;
		margin-bottom: @pad;
	}
	#actions,
	#currentinfo,
	#editor,
	#introduction,
	#navigation,
	#search,
	#user,
	footer .links {
		display: none;
	}
	#story .info {
		opacity: 0.6 !important;
	}
	#print {
		display: inline;
	}
	.longer footer {
		min-height: auto;
		height: auto;
	}
}
